# List

- list is nothing but collection of different types of data like array in c language
- list represented by `[]` braces
- list is a mutable data type in python (we can change)

In [1]:
l=[]
type(l),l

(list, [])

In [2]:
l=[1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

### indexing in list

In [5]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [4]:
l[0]

1

In [6]:
l[-1]

[1, 2, 3]

In [7]:
l[-2]

True

In [11]:
l[-1][1]

2

### list slicing

In [13]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [12]:
l[2:4]

['hello', 3.4]

In [14]:
l[-2:]

[True, [1, 2, 3]]

In [15]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [16]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [17]:
l[-1][::-1]

[3, 2, 1]

In [18]:
l[::2]

[1, 'hello', True]

In [20]:
l[0] = 10
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [21]:
del l[0]
l

[2, 'hello', 3.4, True, [1, 2, 3]]

In [22]:
l[1]=5
l

[2, 5, 3.4, True, [1, 2, 3]]

In [23]:
len(l)

5

In [24]:
marks = [6, 3, 7, 4, 2]
min(marks)

2

In [25]:
max(marks)

7

In [26]:
sum(marks)

22

In [27]:
sorted(marks)

[2, 3, 4, 6, 7]

In [29]:
sorted(marks, reverse= True)

[7, 6, 4, 3, 2]

In [30]:
sum(marks)//len(marks)

4

In [31]:
marks+[10,20]

[6, 3, 7, 4, 2, 10, 20]

In [32]:
marks

[6, 3, 7, 4, 2]

In [33]:
marks * 2

[6, 3, 7, 4, 2, 6, 3, 7, 4, 2]

### List methods

In [34]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
marks.append(10)

In [36]:
marks

[6, 3, 7, 4, 2, 10]

In [37]:
marks.extend([20,30])

In [38]:
marks

[6, 3, 7, 4, 2, 10, 20, 30]

In [39]:
marks.pop()

30

In [40]:
marks

[6, 3, 7, 4, 2, 10, 20]

In [41]:
marks.pop(0)

6

In [42]:
marks

[3, 7, 4, 2, 10, 20]

In [43]:
marks.insert(0,10)

In [44]:
marks

[10, 3, 7, 4, 2, 10, 20]

In [45]:
marks.index(7)

2

In [47]:
marks.reverse()

In [48]:
marks

[20, 10, 2, 4, 7, 3, 10]

In [49]:
marks.sort()
marks

[2, 3, 4, 7, 10, 10, 20]

In [50]:
marks.count(10)

2

In [51]:
marks.count(-1)

0

In [52]:
marks2 = marks.copy()
marks2,marks

([2, 3, 4, 7, 10, 10, 20], [2, 3, 4, 7, 10, 10, 20])

In [53]:
marks2.clear()
marks2,marks

([], [2, 3, 4, 7, 10, 10, 20])

In [55]:
for item in marks:
    print(item)

2
3
4
7
10
10
20

In [56]:
index = 0
while index<len(marks):
    print(marks[index])
    index += 1

2
3
4
7
10
10
20

In [57]:
#Task-1 : print the names which names end with 'u' character
#Sample output : raghu balu
names = "mahesh ravi raghu krish balu"
names_list = names.split(" ")
for name in names_list:
    if name.endswith('u'):
        print(name, end=" ")

raghu balu

In [ ]:
#Task-2 : print the names which length has maximum
#Sample output : mahesh
names = "mahesh ravi raghu krish balu"

In [ ]:
#Task-3 : print the names which ends with ovels(a,e,i,o,u)
#Sample output : ravi raghu balu
names = "mahesh ravi raghu krish balu"

In [ ]:
#Task-4: Palindrome String: need to find and print whether 
# this string is a palindrome or not. If yes, print "YES"
# else print "NO" (Strings)

In [ ]:
#Task-5: Toggle String: You have been given a String S 
#consisting of uppercase and lowercase English alphabets.
#You need to change the case of each alphabet 
#in this String (strings)
Sample Input: HeLlo
sample Output: hElLO

# tuple

- tuple is a immutable data type in python
- it is also like list but it can't change once created
- it is represented by `(` (paranthesis) symbol

In [58]:
t = tuple()
t

()

In [59]:
ages = (20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

indexing in tuple

In [60]:
ages[0]

20

In [61]:
ages[-1]

40

slicing in tuples

In [62]:
ages[0:2]

(20, 21)

In [63]:
ages[::-1]

(40, 21, 20)

In [65]:
del ages[0] # it won't worl because it's immuatble

TypeError: 'tuple' object doesn't support item deletion

In [68]:
ages[0] = 10 #we can't update

TypeError: 'tuple' object does not support item assignment

In [69]:
len(ages)

3

In [70]:
min(ages)

20

In [71]:
max(ages)

40

In [72]:
sum(ages)

81

tuple methods

In [73]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [75]:
ages.index(20)

0

In [76]:
ages.count(20)

1

In [78]:
x, y, z = ages

In [79]:
print(x, y, z)

20 21 40

In [80]:
ages

(20, 21, 40)

In [81]:
a = 1,2,3
a,type(a)

((1, 2, 3), tuple)

In [82]:
for item in ages:
    print(item)

20
21
40

In [83]:
for item in ages[::-1]:
    print(item)

40
21
20

Task-6 :
Two Strings: Given two strings of equal length, you have to tell whether they both strings are identical.(Strings)
Input Format:abc cab
Output Format:"YES"

# set

In [84]:
s = {1,2,3}
s,type(s)

({1, 2, 3}, set)

In [86]:
s[0] #indexing not working in set

TypeError: 'set' object is not subscriptable

In [88]:
s[:] #slicing also not working in set

TypeError: 'set' object is not subscriptable

In [89]:
len(s)

3

In [90]:
min(s)

1

In [91]:
max(s)

3

In [92]:
sum(s)

6

In [93]:
l=[1,2,4,1,3,5,5]
set(l),l

({1, 2, 3, 4, 5}, [1, 2, 4, 1, 3, 5, 5])

In [95]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [96]:
s.add(10)

In [97]:
s

{1, 2, 3, 10}

In [98]:
s.pop()

10

In [99]:
s.remove(2)

In [100]:
s

{1, 3}

In [101]:
a={1,2,3,4}
b={3,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [102]:
a.intersection(b)

{3, 4}

In [103]:
a.difference(b)

{1, 2}

In [104]:
b.difference(a)

{5, 6}

In [105]:
a,b

({1, 2, 3, 4}, {3, 4, 5, 6})

In [106]:
a.difference_update(b)
a,b

({1, 2}, {3, 4, 5, 6})

In [107]:
c={1}
c

{1}

In [109]:
c.issubset(a),a,c

(True, {1, 2}, {1})

In [110]:
a.isdisjoint(c)

False

In [111]:
a.issuperset(c)

True

In [ ]:
names="mahesh ravi balu krish akash raghu"
# print the names which has duplicate characters
output: mahesh akash